@model InvoiceMaker.FormModels.CreateWorkType

<h1>Create A Work Type</h1>


@using (Html.BeginForm("Create", "WorkType", FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="pure-controls">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "pure-form-message-inline" })
        </div>

        <div class="pure-controls">
            @Html.LabelFor(model => model.Rate)
            @Html.EditorFor(model => model.Rate)
            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "pure-form-message-inline" })
        </div>
       
        <div class="pure-controls">
            @Html.ActionLink("Cancel", "Index", new { }, new { @class="button-error pure-button"})
            <button type="submit" class="button-success pure-button">Submit</button>
        </div>
    </fieldset>
}
