@model InvoiceMaker.FormModels.EditWorkType

<h1>Edit A Work Type</h1>

@using (Html.BeginForm("Edit", "WorkType", new { Id = Model.Id }, FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="pure-controls">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "pure-form-message-inline" })
        </div>

        <div class="pure-controls">
            @Html.LabelFor(model => model.Rate)
            @Html.EditorFor(model => model.Rate)
            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "pure-form-message-inline" })
        </div>
        <div class="pure-controls">
            @Html.ActionLink("Cancel", "Index", new { }, new { @class = "pure-button" })
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
}
