@model List<InvoiceMaker.Models.WorkType>

<h1>Work Types</h1>

<p>
    @Html.ActionLink("Add A Work Type", "Create", new { }, new { @class = "button-secondary pure-button" })
</p>


<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rate</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workType in Model)
        {
            <tr>
                <td>@workType.Name</td>
                <td>@workType.Rate</td>
                <td>@Html.ActionLink("Edit", "Edit", new { Id = workType.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { Id = workType.Id })</td>
            </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "button-neutral pure-button" })</p>