@model InvoiceMaker.FormModels.CreateClient

<h1>Create A Client</h1>


@using (Html.BeginForm("Create", "Clients", FormMethod.Post, new { @class = "pure-form pure-form-aligned" }))
{
  @Html.AntiForgeryToken()

<fieldset>
    <div class="pure-control-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "pure-form-message-inline" })
    </div>

    <div class="pure-controls">
        <label for="IsActivated">
            @Html.EditorFor(model => model.IsActivated) Is active
        </label>
        @Html.ValidationMessageFor(model => model.IsActivated, "", new { @class = "pure-form-message-inline" })
    </div>
    <div class="pure-controls">
        @Html.ActionLink("Cancel", "Index", new { }, new { @class="pure-button"})
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
</fieldset>
}
