<h2>Add A Work Done</h2>

@using (Html.BeginForm("Create", "Invoice", FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="pure-controls">
            @Html.LabelFor(m => m.ClientId)
            @Html.DropDownListFor(m => m.ClientId, Model.ClientSelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "pure-form-message-inline" })
        </div>

        <div class="pure-controls">
            @Html.ActionLink("Cancel", "Index", new { }, new { @class = "button-error pure-button" })
            <button type="submit" class="button-success pure-button">Submit</button>
        </div>
    </fieldset>
}
