@model InvoiceMaker.FormModels.Invoice.AddWorkDoneInvoice

<h1>Add Work Done to Invoice</h1>

@using (Html.BeginForm("AddWorkDone", "Invoice", new { Id = Model.Id }, FormMethod.Post, new { @class = "pure-form pure-form-stacked" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="pure-controls">
            @Html.LabelFor(m => m.WorkDoneId)
            @Html.DropDownListFor(m => m.WorkDoneId, Model.WorkDoneSelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WorkDoneId, "", new { @class = "pure-form-message-inline" })
        </div>

        <div>
            @Html.ActionLink("Cancel", "Edit", new { }, new { @class = "button-neutral pure-button" })
            <button type="submit" class="button-success pure-button">Add</button>
        </div>
    </fieldset>
}
